body {
    font-family: 'Lato', Arial;
}

#upload {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#source {
    text-align: center;
    margin-top: 20px;
}

#source img {
    height: 600px;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 13px;
}

#color-analysis {
    text-align: center;
}

canvas {
  position: absolute;
  opacity: 0;
}
